* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Press Start 2P';
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    margin: 0;
}

#grid {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 640px;
    max-height: 640px;
    max-width: 640px;
    box-shadow: 0,0,20px,0 rgba(0,0,0,0.5);
    flex-grow: 1;
    flex-wrap: wrap;
}

#grid div {
    /* border: 1px solid lightgrey; */
    background-color: slategrey;
    flex-grow: 1;
    height: 10%;
    width: 10%;
}

#grid div.player {
    background-image: url(../assets/explorer.png);
    background-size: 32px;
    background-position-x: 0; 
    background-position-y: 0;
}

#grid div.wall {
    background-image: url(../assets/wall.png);
    background-size: 32px;
    background-position-x: 0; 
    background-position-y: 0;
}

#grid div.dino {
    background-color: rgb(255, 0, 0);
}

#grid div.rock {
    background-image: url(../assets/rock2.png);
    background-size: 32px;
    background-position-x: 0; 
    background-position-y: 0;

}

#grid div.gem {
    background-image: url(../assets/gem.png);
    background-size: 32px;
    background-position-x: 0; 
    background-position-y: 0;
}

#scoreboard {
    color: darkslategrey;
    margin: 20px
}

#title {
    font-size: xx-large;
    color: darkslategrey;
    margin: 20px;
}